/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

/**
* Redefine the $text-font-stack variable and use this selector (html.fonts-loaded) if you are loading your fonts asynchronously
*/
// $text-font-stack: 'Your asynchronous typography';
html.fonts-loaded body {
  font-family: $text-font-stack;
}