{% if block.image.one() is not empty %}
	<div class="block block-image">
    <figure>
      <img src="{{ block.image.one().url }}" alt="{{ block.image.one().title }}">
      {% if block.caption is not empty %}
        <figcaption>{{ caption }}</figcaption>
      {% endif %}
    </figure>
	</div>
{% endif %}
