<!-- Footer
  ============================ -->
<footer id="footer" class="section bg-light">
	<div class="container">
		{# <ul class="social-icons social-icons-lg social-icons-muted justify-content-center mb-3">
			<li>
				<a data-toggle="tooltip" href="https://twitter.com/harnishdesign/" target="_blank" title="" data-original-title="Twitter">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a data-toggle="tooltip" href="http://www.facebook.com/harnishdesign/" target="_blank" title="" data-original-title="Facebook">
					<i class="fab fa-facebook-f"></i>
				</a>
			</li>
			<li>
				<a data-toggle="tooltip" href="http://www.dribbble.com/harnishdesign/" target="_blank" title="" data-original-title="Dribbble">
					<i class="fab fa-dribbble"></i>
				</a>
			</li>
			<li>
				<a data-toggle="tooltip" href="http://www.github.com/" target="_blank" title="" data-original-title="GitHub">
					<i class="fab fa-github"></i>
				</a>
			</li>
		</ul> #}
		<p class="text-center">Copyright &copy; {{ 'now' | date('yy') }}
			<a href="https://heyblackmagic.com/">Black Magic</a>. Making The Internet A Happier Place<sup>TM</sup>.</p>
		
	</div>
</footer>
<!-- Footer end -->
