<div class="idocs-navigation bg-light">
	{% if entries is not empty %}
		<ul class="nav flex-column">
			{% for entry in entries %}
				<li class="nav-item">
					<a href="#idocs_{{ entry.slug }}" class="nav-link">{{ entry.title }}</a>
					{% if entry.hasDescendants %}
						{% set childEntries = craft.entries()
						 .descendantOf(entry.id)
						 .all() %}
						
						<ul class="nav flex-column">
							{% for entry in childEntries %}
								<li class="nav-item">
									<a href="#idocs_{{ entry.slug }}" class="nav-link">{{ entry.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}				
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
